<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.listotechnologies.cleverweather" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/clever_weather"
        android:label="@string/app_name"
        android:theme="@style/Theme.Cleverweather" >
        <activity
            android:name=".TabbedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".SearchCitiesActivity" />
        </activity>

        <provider
            android:name=".CleverWeatherProviderExtended"
            android:authorities="com.listotechnologies.cleverweather.provider" />

        <activity
            android:name=".ProvinceActivity"
            android:parentActivityName=".TabbedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.listotechnologies.cleverweather.TabbedActivity" />
        </activity>
        <activity
            android:name=".SearchCitiesActivity"
            android:label="@string/title_search_cities">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
